@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  /* background: #fff; */

}
@media (min-width:320px){
  .quill{
    height: 150px;
    margin-bottom: 60px;
  }
  
} 

.quill{
  height: 200px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.ql-toolbar.ql-snow{
  border-radius: 5px;
}

.ql-container.ql-snow{
  border-radius: 5px;
}
.custom pre{
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 15px;
}
h2{
  font-size: large;
}

